.new-project{
    color: azure;
    background-color: blue;
    width: 130px;
    height: 40px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
#deleteProject {
    background-color: red;
    color: white;
}
#updateProject {
    background-color: green;
    color: white;
}